.listContainer {
  width: 400px;
  margin-top: 40px;
}

.taskItem {
  background-color: #ecc44c;
  border-radius: 2px 10px 10px 2px;
  padding: 6px;
  margin-bottom: 10px;
}

.rowSpace {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.taskName {
}

.taskDescription {
  color: #fcfbfb;
}

.taskStatus {
  font-weight: bold;
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.icon {
  width: 20px;
  margin-right: 8px;
  cursor: pointer;
}